{% extends "base.html" %}

{% block title%}CSRF токен{% endblock title %}
    
{% block content %}
{% if not session.get("critical_action") %}
        <h1>Важное электронное письмо</h1>
        <p>От: admin@example.com</p>
        <p>Тема: Важная информация</p>
        <p>Содержание: Это очень важное письмо, которое необходимо сохранить.</p>
        <form action="/csrf/token" method="post">
            <input type="hidden" name="token" value="{{ csrf_token }}">
            <button type="submit">Удалить письмо</button>
        </form>
    {% else %}
        <h1>Письмо удалено или не существует</h1>
    {% endif %}
{% endblock content %}